<form action="/login" method="post" class="arroz">
  <h1>A PAGINA DE LOGIN</h1>
  <br>
    <div class="email">
      <input type="email" class="input-placeholder" placeholder="email" name="user[email]">
    </div>
    <div class="senha">
      <input type="password" class="input-placeholder" placeholder="password" name="user[password]">
    </div>
    <br>
    <input class="btn btn-login2 mt-2" type="submit" value="Login">
  </form>
